{% extends 'base.html' %}
{% block content %}


<main>
    <div id="content">
        <h1>Assignment tracker</h1>

        <a href="/create" class="nav">Add an assignment</a>

      
       
        <div id="items">

            {% for assignment in assignments %}
                    
            <div class="card">
                
                <a href="/assignments/{{assignment._id}}"></a>
                <div class="card-content">
                    <a >{{assignment.class_name}}</a>
                    <a href="/assignments/{{assignment._id}}">{{ assignment.assignment_name }}</a>
                    <a>{{assignment.due_date}}</a>
                    <a >{{assignment.submit_status}}</a>
                    <a href="{{assignment.submission_link}}">submission link</a>
                    
                </div>
            </div>
      

            
            {% endfor %}

            
    </div>

</main>

{% endblock content %}