{% extends 'base.html' %}
{% block content %}


<main>
    <div id="content">
        <h1>Assignment tracker</h1>

        <a href="/create" class="nav">Add an assignment</a>

      
       
        <div id="items">
            <div class="container"></div>
            <div class="row">
                <div class="col-sm">
                    <p>class name</p>
                </div>
                <div class="col-sm">
                    <p>assignnment name</p>
                </div>
                <div class="col-sm">
                    <p>due date</p>
                </div>
                <div class="col-sm">
                    <p>links</p>
                </div>
            </div>
            </div>
            
            {% for assignment in assignments %}
                    
        
                
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                         
                        <a href="/assignments/{{assignment._id}}">{{assignment.class_name}}</a>
                    </div>
                    <div class="col-sm">
                        
                        <a href="/assignments/{{assignment._id}}">{{ assignment.assignment_name }}</a> 
                    </div>
                    <div class="col-sm">
                        
                        <a>{{assignment.due_date}}</a>
                    </div>
                    <div class="col-sm">
                        
                        <a >{{assignment.submit_status}}</a>
                    </div>
                    <div class="col-sm">
                        
                        <a href="{{assignment.submission_link}}">submission link</a>
                    </div>

                </div>
            </div>
            

      

            
            {% endfor %}

            
    </div>

</main>

{% endblock content %}