{% extends 'base.html' %}
{% block content %}

<main>
        <h1>{{assignment.assignment_name}}</h1>


        

        <section id="info">
            <h3>Details</h3>

            <strong>Due date </strong>
            {{assignment.due_date}}
            <br><br>

            <strong>assignment name :</strong>
            {{assignment.assignment_name}}
            <br><br>

            <strong>submission status</strong>
            {{assignment.submit_status}}
            <br><br>

            <strong>submission link</strong>
            {{assignment.submission_link}}
            
            <a class="nav" href="/edit/{{assignment_id}}">Edit Assignment</a><br><br>
        </section>

        <form action="/grades/{{assignment_id}}" method="POST">
            <fieldset>
                <legend>Grade:</legend>
                
                <label>
                    Grade
                    <input type="text" name="grade_score" placeholder="100%">
                </label>

                <label>
                    Submission Date
                    <input type="date" name="due_date">
                </label>

                <input type="submit" class="submit" value="submit">
            </fieldset>
        </form>

        {#
            TODO: Create a for loop here to loop over all harvests (passed in 
            from the route's context) and display their information.
        #}
        <section id="grade-history">
            <h3>Past grades</h3>

            <ul>
                {% for grade in grades%}
               <li>graded on {{ grade.date }}: score {{ grade.grade }}%</li>
               {% endfor %}
            </ul>
        </section>

        <!-- <form action="/delete/{{plant_id}}" method='POST' id="delete-form" onsubmit="return confirm_delete()"> -->
            <!-- <input type="submit" class="nav" onclick="delete_modal()" value="Delete Plant"> -->
        </form>
</main>

{% endblock content %}